---

---

<footer class="bg-white p-4 text-center">
    <p>
        &copy; 2025 Mi Negocio |
        <a href="#" class="text-blue-500">Instagram</a> |
        <a href="#" class="text-blue-500">Facebook</a>
    </p>
</footer>